.title {
    margin: 2.5rem auto;
    text-align: center;
}

.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translateX(-40rem);

}

.card_fronts {
    position: absolute;
    width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.card_backs {
    position: absolute;
    width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.card {
    width: 15rem;
    margin: 1rem;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover {
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.5);
    }

}

.removeOpacity {
    opacity: 0;
    pointer-events: none;
}
